html, body {
  font-family: $font-montserrat-light;
}

h1, h2 {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-montserrat-hairline;
}

h1 {
  font-size: $size-xlg;
  @media screen and (max-width: 500px) {
    font-size: $size-lg
  }
  @media screen and (max-width: 360px) {
    font-size: $size-med
  }
}

h2 {
  font-size: $size-xlg;
  @media screen and (max-width: 500px) {
    font-size: $size-lg
  }
  @media screen and (max-width: 360px) {
    font-size: $size-med
  }
}

p {
  font-family: $font-montserrat-light;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin: 0;
  line-height: 2em;
  font-size: $size-sm;
  @media screen and (max-width: 360px) {
  	font-size: $size-xs;
    line-height: 1.5em;
  }
}

a {
  text-decoration: none;
}

.no-select {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
