// Breakpoints
$breakpoint: 48em;

// Colors
$color-primary: #ffffff; // white
$color-secondary: #b23348; // plum
$color-accent: #631c5a; // purple
$color-light-bg: #e8e8e8; // lightgray
$color-dark-bg: #202020; //footer bg
$color-button: #556391; // buttonpurple
$color-error: #F22626;
$color-success: #49D868;

$color-text-light: #ffffff; // white
$color-text-dark: #231f20; // almostblack
// Fonts
$font-montserrat-hairline: 'Montserrat-Hairline'; // headline
$font-montserrat-light: 'Montserrat-Light'; //paragraph
$font-montserrat-regular: 'Montserrat-Regular'; //paragraph
$font-playfair: 'PlayfairDisplay';

// Font sizes
$size-xxlg: 3.998em;
$size-xlg: 2.827em;
$size-lg: 1.999em;
$size-med: 1.414em;
$size-sm: 1em;
$size-xs: 0.8em;
$size-xxs: 0.5em;
