// Breakpoints

// Colors
$color-primary: #ffffff; // white
$color-secondary: #b23348; // plum
$color-accent: #631c5a; // purple
$color-light-bg: #e8e8e8; // lightgray
$color-dark-bg: #202020; //footer bg
$color-button: #556391; // buttonpurple

$color-text-light: #ffffff; // white
$color-text-dark: #231f20; // almostblack
// Fonts
$font-montserrat-hairline: 'Montserrat-Hairline'; // headline
$font-montserrat-light: 'Montserrat-Light'; //paragraph
$font-playfair: 'PlayfairDisplay';

// Font sizes

