// There's a bug preventing flexbox on fieldsets so use this instead
// https://bugs.chromium.org/p/chromium/issues/detail?id=375693
// https://bugzilla.mozilla.org/show_bug.cgi?id=292736
[role=group] {
  border-radius: 1em;
  padding: 8px;
  background: $color-primary;
  margin: 0 auto;
  display: block;
  text-align: center;
}

input, button {
  display: block;
  margin: 0 auto;
}
input {
  border: none;
  padding: 0.8em;
  margin: 0.2em auto;
}
button {
  border: none;
  border-radius: 1em;
  background: $color-button;
  color: $color-text-light;
  text-transform: uppercase;
  padding: 0.8em 1em;
  font-family: $font-montserrat-regular;
}
