.email-signup {
  background: #621F59;
  padding: 15px;

  @media screen and (max-width: 395px) {
    .header-input {
      flex-direction: column;
    }
    .input-email {
      width: 100%;
      box-sizing: border-box;
      text-align: center;
    }
    .input-submit {
      width: 100%;
    }
  }
  
  .email-form {
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
  }
  .header-input {
    display: flex;
  }
  .input-email {
    flex-grow: 1;
  }
  .input-submit {
    flex-shrink: 0;
  }
}

.mailchimp-response {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 75px;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  color: $color-text-light;
  background-color: $color-success; 
  transition: top 0.5s ease;
  &.hide {
    top: -75px;
  }
  &.error {
    background-color: $color-error; 
  }
}
