.footer-input {
  background: $color-dark-bg;
  color: $color-text-light;
  font-family: $font-montserrat-hairline;
  padding: 1em 2em;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  h3 {
    // margin-bottom: ;
  }
  fieldset {
    margin-right: 0;
  }
}

.footer-social {
  font-family: $font-montserrat-light;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    display: inline-block;
    padding-top: 1em;
  }
  ul {
    list-style-type: none;
    display: inline-block;
    li {
      display: inline-block;
      padding: 0 0.25em;
    }
  }
  a {
    color: $color-text-dark;
    &:hover {
      color: $color-accent;
    }
  }
  img {
    width: 2em;
  }
}


