.footer-input {
  background: $color-dark-bg;
  color: $color-text-light;
  font-family: $font-montserrat-hairline;
  padding: 1em 3em;

  display: flex;

  .email-signup {
    background: transparent;
    padding: 0;
  }
  .footer-title {
    flex-grow: 1;
    flex-shrink: 0;
  }
  [role="group"] {
    margin-left: 10px;
    max-width: 425px;
    width: 100%;
  }
  @media screen and (max-width: 850px) {
      flex-direction: column;
      text-align: center;
      [role="group"] {
        max-width: 100%;
      }
  }
}

.footer-social {
  font-family: $font-montserrat-light;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    display: inline-block;
    padding-top: 1em;
  }
  ul {
    list-style-type: none;
    display: inline-block;
    li {
      display: inline-block;
      padding: 0 0.25em;
    }
  }
  a {
    color: $color-text-dark;
    &:hover {
      color: $color-accent;
    }
  }
  img {
    width: 2em;
  }
}


