.grow-money-wrapper {
  padding: 3em 2em;
  background-image:
    radial-gradient(
      circle at top right,
      #7b1a6d,
      #c92252
    );
  color: $color-text-light;
  h1, h3, h4 {
    font-family: $font-montserrat-light;
  }
}
.grow-money-text-wrapper {
  text-align: center;
  @media screen and (min-width: $breakpoint) {
    padding-left: 3em;
    padding-right: 3em;
  }
  h2 {
    font-size: $size-xlg;
    margin-bottom: 0.3em;
  }
  p {
    line-height: 2em;
  }
}
.projected-value {
  h1 {
    margin-bottom: 0;
    font-size: $size-xxlg;
  }
  h4 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.grow-money-data-wrapper {
  border: 1px solid green;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2em;
  @media screen and (min-width: $breakpoint) {
    width: 40em;
  }
  h2, h4, h6 {
    text-transform: uppercase;
    margin: 0 auto;
  }
  h4, h6 {
    letter-spacing: 0.1em;
  }
  h4 {
    margin-top: 0;
    line-height: 1.5em;
  }
  figcaption {
    opacity: 20%;
  }
  .dotted-border {
    border-image:url('../assets/dotted-border-single.jpg') 5 space;
  }
  figure {

  }
  input {
    width: 2.5em;
    font-family: $font-montserrat-hairline;
    font-size: $size-xlg;
    padding: 0em;
    padding-bottom: 0.1em;
    background: transparent;
    border: none;
    text-align: center;
    color: $color-text-light;
    border-bottom: 4px dotted $color-primary;

  }
  span {
    font-family: $font-montserrat-hairline;
    font-size: $size-xlg;
  }
}

.start-with {
  border: 1px solid pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.years {
  border: 1px solid pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  // width: 100;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint) {
    width: 22em;
  }
}
