header {
  font-family: $font-montserrat-light;
  padding: 3em 2em;
  .header-text-wrapper {
    text-align: center;
    h1 {
      font-family: $font-montserrat-hairline;
      font-size: $size-xlg;
    }
    h4 {
      font-family: $font-montserrat-light;
    }
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    figure {
      max-width: 30em;
    }
    ul {
      list-style-type: none;
    }
    li {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      &:not(:last-child):after {
        content:' |';
      }
    }
    a {
      padding: 0 0.5em;
      color: black;
      &:hover {
        color: $color-accent;
      }
    }
  }
  .header-input {
    @media screen and (min-width: $breakpoint) {
      max-width: 33.5em;
      padding: 0 0.01em;
    }
    input {
      @media screen and (min-width: $breakpoint) {
        width: 20em;
      }
    }
  }
}
