header {
  font-family: $font-montserrat-light;
  padding: 3em 2em;
  @media screen and (min-width: $breakpoint) {

    }
  .header-text-wrapper {
    text-align: center;
    h1 {
      font-family: $font-montserrat-hairline;
      font-size: $size-xxlg;
    }
    h3 {
      font-family: $font-montserrat-light;
      line-height: 2em;
    }
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    figure {
      width: 16em;
      margin: 0;
      display: inline-block;
      img {
        width: 15em;
      }
    }
    ul {
      list-style-type: none;
      display: inline-block;
      margin-bottom: 1em;
    }
    li {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      &:not(:last-child):after {
        content:' |';
      }
    }
    a {
      padding: 0 0.5em;
      color: black;
      &:hover {
        color: $color-accent;
      }
    }
  }
  .header-input {
    // width: 20em;
    @media screen and (min-width: $breakpoint) {
      max-width: 33.5em;
      padding: 0 0.01em;
    }
    input {
      @media screen and (min-width: $breakpoint) {
        width: 20em;
      }
    }
  }
}
