header {
  font-family: $font-montserrat-light;
  .header-text-wrapper {
    text-align: center;
    h1 {
      font-family: $font-montserrat-hairline;
    }
    h4 {
      font-family: $font-montserrat-light;
    }
  }
  img {
    max-width: 350px;
  }
  nav {
    ul {
      list-style-type: none;
    }
    li {
      display: inline-block;
      text-decoration: none;

      &:not(:last-child):after {
        content:' |';
      }
    }
    a {
      padding: 0 0.5em;
    }
  }
  fieldset {
    // margin: 0 auto;
  }
}
