div.demo{
  text-align: center;
  float: left;
  background-color: $color-primary;
  border: 5px dotted pink;

  .knob {
    font-family: $font-montserrat-hairline;
  }
  input[attribute=value] {
    font-family: $font-montserrat-hairline;
  }
}

