.slider-wrapper {
  text-align: center;
  background-color: $color-primary;
  span {
    font-family: $font-montserrat-light;
    font-size: $size-med;
  }
  input {
    background-color: $color-secondary;
  }
}

