.coming-soon-wrapper {
  text-align: center;
  background: url(../assets/guilloche.svg) no-repeat center top $color-primary;
  background-size: cover;
  color: $color-text-dark;
  padding: 3em 2em;
  p {
    @media screen and (min-width: $breakpoint) {
      padding-left: 3em;
      padding-right: 3em;
    }
  }
}
